FTP_HOST = 'testFTP.dv.com'
FTP_USERNAME = 'testuser'
FTP_PASSWORD = '123456'
FTP_FOLDER = '/data'

AWS_ACCESS_KEY_ID= 'testKeyString'
AWS_SECRET_ACCESS_KEY= 'testKeyString'
AWS_BUCKET_NAME = 'testbucket'
AWS_REGION= 'us-east-2'